@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


:root {
  --card-height: 40vw;
  --card-margin: 3vw;
  --card-top-offset: 1em;
  --card-font-family: "Space Grotesk", sans-serif;

  --color-white: #FFF;
}

@media (width <=768px) {
  :root {
    --card-height: 200vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

li {
  list-style-type: none;
}

.mainV {
  position: relative;
  container-type: inline-size;

  h1 {
    position: absolute;
    top: 44%;
    left: 10%;
    right: 0;
    bottom: 0;

    font-family: "Michroma", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(1.875rem, -0.403rem + 4.75vw, 3.75rem)
  }

  @container (width <=767px) {
    h1 {
      top: 16%;
    }
  }

  .pic {
    img {
      width: 100vw;
    }
  }

}


.contents_wrap {
  max-width: 1400px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 100px;


  width: 90%;
  margin: 100px auto;

  .button-wrap {
    text-align: center;

    .button {
      position: relative;
      border: 2px solid #000;
      padding: 20px 100px;
      margin: 3rem 1rem;
      text-align: center;
      display: inline-block;
      border-radius: 100vh;
      transition: .3s;
      font-size: 20px;

      &:after {
        position: absolute;
        content: '';
        width: 0%;
        left: 50%;
        bottom: 0;
        height: 3px;
        background-color: #000;
        transition: .3s;
      }

      &:hover {
        box-shadow: inset 0px 0px 0px 3px #000;
      }
    }
  }


  .section {
    .section-title {
      text-transform: uppercase;
      text-align: center;
      font-size: clamp(1.875rem, 1.542rem + 1.67vw, 3rem);
      font-family: var(--card-font-family);
      margin-bottom: 3rem;
      letter-spacing: 1px;
    }
  }

  .seasonV {
    .season-entrance__picture {
      width: 30vw;
      display: block;
      margin: auto;
    }
  }

  @media (width <=768px) {
    .seasonV {
      .season-entrance__picture {
        width: 100%;
      }
    }
  }

  .findS {
    #cards {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(1, var(--card-height));
      gap: var(--card-margin);
      /* padding-bottom: calc(1 * var(--card-margin)); */
      margin-bottom: var(--card-margin);
      /* max-width: 80vw; */
      margin: auto;

      .style-list__card {
        position: sticky;
        top: 10vh;
        /* height: var(--card-height); */
        padding-top: calc(var(--index) * var(--card-top-offset));
        perspective: 1000px;
        /*3D context*/

        .style-list__card-contents {
          padding: 50px;
          width: 100%;
          height: 100%;
          border-radius: 50px;
          background-color: #c1c1c1;

          transform-origin: 50% 0%;
          will-change: transform, filter;
          transform-style: preserve-3d;

          .title {
            font-size: min(5vw, 2rem);
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            gap: min(2vw, 20px);
            align-items: baseline;

            .sub-title {
              display: inline-block;
              font-size: 20px;
            }
          }

          .number {
            font-size: min(18vw, 10rem);
            font-weight: 600;
            position: absolute;
            right: 2rem;
            /* top: -2rem; */
            top: 0rem;
            opacity: 0.3;
            font-family: var(--card-font-family);
          }

          .style-list__card-contents-box {
            display: flex;
            flex-direction: row;
            width: 80%;
            gap: 30px;
            margin: auto;
            padding: 1rem 0;

            svg {
              /* max-width: 300px;
              width: 84%; */
              margin: auto;

              .model {
                fill: #FFF;
              }
            }

            .style-list__details {
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 10%;
            }
          }
        }

        &:nth-child(1) .style-list__card-contents {
          background-color: #ff2a6d;
          --shadow-color: rgba(255, 42, 109, 0.8);
        }

        &:nth-child(2) .style-list__card-contents {
          background-color: #05d9e8;
          --shadow-color: rgba(5, 217, 232, 0.8);
        }

        &:nth-child(3) .style-list__card-contents {
          background-color: #ffe600;
          --shadow-color: rgba(255, 230, 0, 0.8);
        }

        &:nth-child(4) .style-list__card-contents {
          background-color: #fafac6;
          --shadow-color: rgba(250, 250, 198, 0.8);
        }
      }
    }
  }

  @media (width <=768px) {
    .findS {
      #cards {
        .style-list__card {
          .style-list__card-contents {
            height: auto;
            padding: 30px;

            .style-list__card-contents-box {
              display: block;
            }
          }
        }
      }
    }
  }



  .card-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (width <=768px) {
    .style-list__card-contents {
      .style-list__card-contents-box {
        flex-direction: column;

        svg {
          /* width: 80%; */
          margin: auto;
        }
      }
    }
  }


  .stylist {
    .card-wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      gap: 1rem;

      .list {
        background-color: #333;
        padding: 1rem;

        img {
          width: 70%;
        }


        .stylist-introduction {
          color: var(--color-white);
          transform: translateY(calc(-11px + 4em));
          transition: all 0.3s;


          dt {
            font-size: clamp(1rem, 0.963rem + 0.19vw, 1.125rem);
          }

          dd {
            font-size: clamp(0.75rem, 0.713rem + 0.19vw, 0.875rem);
          }

          &:hover {
          transform: translateY(calc(-30px + 4em));
          }

        }

        .stylist-detaile {
          height: 40px;
          margin: 0;

        }
      }
    }
  }

  @media (width <=768px) {
    .stylist {
      .card-wrap {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

.other {
  .card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;


    .list {
      background-color: #333;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 900;
      height: 100%;

      a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: relative;

        &::before {
          position: absolute;
          font-size: 2rem;
          color: #FFF;
        }
      }
    }

    .card-menu a::before {
      content: 'MENU';
    }

    .card-salon a::before {
      content: 'SALON';
    }

    .card-recruit a::before {
      content: 'RECRUIT';
    }
  }
}

@media (width <=768px) {
  .other {
    .card-wrap {
      grid-template-columns: 1fr;
      gap: 2rem;

    }
  }
}

.footer {
  background-color: #eee;
  padding: 10px;
}
